pip2 install\
    numpy \
    scipy \
    pandas \
pvlib==0.6.0 \
    cloudpickle \
pickleshare \
    scikit-learn==0.20.0 \
python-dateutil==2.7.5 \
    matplotlib \
PyMySQL==0.9.2 \
mkl-fft \
mkl-random \
windrose==1.6.5 \
    Cython \
tables==3.4.4 \
pyrouge==0.1.3 \
